.Entete {
    position: sticky;
    top: 0;
    height: 60px;
    margin: 0px;
    padding: 20px;
    font-size: 1.3em;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
   
     .avatar {
        margin-left: auto;
      }
    }
